.tasks ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.tasks li {
    background-color: #ffffff;
    margin-bottom: 10px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

}

.task {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    padding: 20px;
}

.task h2 {
    grid-column: span 2; /* O título ocupa ambas as colunas */
    margin: 0 0 10px 0;
    font-size: 20px;
    color: #333;
}

.task p {
    margin: 5px 0;
    font-size: 16px;
    color: #555;
}

.task p:last-of-type {
    grid-column: span 2;
    font-weight: bold;
    color: #888;
}

.buttons {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}